@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import 'tailwindcss';

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-cerulean-50: #e0f8ff;
    --color-cerulean-100: #c2f1ff;
    --color-cerulean-200: #87e3ff;
    --color-cerulean-300: #4dd5ff;
    --color-cerulean-400: #15c8ff;
    --color-cerulean-500: #00aade;
    --color-cerulean-600: #0082aa;
    --color-cerulean-700: #005c78;
    --color-cerulean-800: #00394a;
    --color-cerulean-900: #001920;
    --color-cerulean-950: #001015;

    --color-tropical-teal-50: #e5feff;
    --color-tropical-teal-100: #ccfcff;
    --color-tropical-teal-200: #99faff;
    --color-tropical-teal-300: #66f7ff;
    --color-tropical-teal-400: #33f5ff;
    --color-tropical-teal-500: #00f2ff;
    --color-tropical-teal-600: #00c2cc;
    --color-tropical-teal-700: #009199;
    --color-tropical-teal-800: #006166;
    --color-tropical-teal-900: #003033;
    --color-tropical-teal-950: #002224;

    --color-light-yellow-50: #fefde7;
    --color-light-yellow-100: #fcfbcf;
    --color-light-yellow-200: #f9f69f;
    --color-light-yellow-300: #f7f26e;
    --color-light-yellow-400: #f4ee3e;
    --color-light-yellow-500: #f1e90e;
    --color-light-yellow-600: #c1bb0b;
    --color-light-yellow-700: #918c08;
    --color-light-yellow-800: #605d06;
    --color-light-yellow-900: #302f03;
    --color-light-yellow-950: #222102;

    --color-soft-apricot-50: #fff2e6;
    --color-soft-apricot-100: #fee5cd;
    --color-soft-apricot-200: #fdca9b;
    --color-soft-apricot-300: #fdb068;
    --color-soft-apricot-400: #fc9636;
    --color-soft-apricot-500: #fb7b04;
    --color-soft-apricot-600: #c96303;
    --color-soft-apricot-700: #974a02;
    --color-soft-apricot-800: #643102;
    --color-soft-apricot-900: #321901;
    --color-soft-apricot-950: #231101;

    --color-vibrant-coral-50: #fde9e8;
    --color-vibrant-coral-100: #fad3d1;
    --color-vibrant-coral-200: #f6a8a2;
    --color-vibrant-coral-300: #f17c74;
    --color-vibrant-coral-400: #ed5145;
    --color-vibrant-coral-500: #e82517;
    --color-vibrant-coral-600: #ba1e12;
    --color-vibrant-coral-700: #8b160e;
    --color-vibrant-coral-800: #5d0f09;
    --color-vibrant-coral-900: #2e0705;
    --color-vibrant-coral-950: #200503;

}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-darker: var(--darker);
    --color-darker-foreground: var(--darker-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --font-heading: var(--font-sans);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: var(--color-cerulean-600);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: var(--color-tropical-teal-600);
    --accent-foreground: var(--color-tropical-teal-950);
    --darker: var(--color-cerulean-800);
    --darker-foreground: oklch(0.985 0 0);
    --destructive: var(--color-vibrant-coral-500);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: var(--color-cerulean-500);
    --chart-1: var(--color-cerulean-500);
    --chart-2: var(--color-tropical-teal-500);
    --chart-3: var(--color-soft-apricot-500);
    --chart-4: var(--color-light-yellow-500);
    --chart-5: var(--color-vibrant-coral-500);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: var(--color-cerulean-600);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: var(--color-cerulean-500);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: var(--color-cerulean-500);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: var(--color-tropical-teal-500);
    --accent-foreground: var(--color-tropical-teal-950);
    --darker: var(--color-cerulean-900);
    --darker-foreground: oklch(0.97 0 0);
    --destructive: var(--color-vibrant-coral-400);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: var(--color-cerulean-400);
    --chart-1: var(--color-cerulean-400);
    --chart-2: var(--color-tropical-teal-400);
    --chart-3: var(--color-soft-apricot-400);
    --chart-4: var(--color-light-yellow-400);
    --chart-5: var(--color-vibrant-coral-400);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: var(--color-cerulean-500);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: var(--color-cerulean-400);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}




